.img-fluid{
    width: 70%;
    height: 70%;
}

.second-img{
    width: 70%;
    height: 70%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.second-paragraph{
    margin-top: auto;
    margin-bottom: 5%;
}

.home-text{
    margin-top: 35%;
    margin-left: 40%;
}

.nav-ys{
    margin-top: 20px;
}

.img-ys{
    margin-top: 30px;
}

.homeScreen-smartKitchen {
    font-family: Helvetica, fantasy;
    font-weight: bold;
    font-size: 3rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}